.btn {
    min-height: 16px;
    vertical-align: middle;
    
    &.captioned .fa {
        margin-right: 6px;
    }
    
    &.iconOnly {
        &:not(.compact) {
            font-size: large;
        }
        &.compact {
            min-height: unset;
        }
    }
    
    .fa.disabled {
        opacity: 0.4;
        color: black;
    }
}

