.classAdderOuter {
	padding-top: 20px;
	max-width: 305px;

	.classAdderInput {
		margin-right: 10px;
	}
	.classAdderNameField {
		width: 100px;
	}

	.classAdderHeader {
		display: inline-block;
	}

	.classAdderHeaderExpand {
		float: right;
	}
}
