.figureAdderOuter {
	display: grid;
	grid-template-columns: max-content;
	row-gap: 10px;

	.figureAdderInput {
		margin-right: 10px;
	}

	.figureAdderSelect {
		height: 22px;
	}

	.figureAdderNameField {
		width: 100px;
	}

	.rowSpacer {
		margin-top: 4px;
	}

	.fa-plus {
		color: darkgreen;
		font-size: large;
	}
}
