.classTurnComplete {
	grid-column: turn-complete;
	margin-right: 10px;
}

.classInfo {
	grid-column: info;

	.classInfoContainer {
		display: table;
		font-size: large;

		&.summonInfoContainer {
			font-size: small;
			min-height: 20px;
		}

		.className {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}

		.classIcon {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			padding-right: 6px;
			width: 18px;
			height: 18px;

			img {
				width: 18px;
				height: 18px;
			}
		}
	}
}

.classInit {
	grid-column: initiative;
	font-size: x-large;
	margin-left: 20px;
}

.classMoveButtons {
	grid-column: move-buttons;
	margin-left: 4px;

	.classMoveButtonContainer {
		position: relative;
		width: 18px;

		.moveUp,
		.moveDown {
			position: absolute;
			width: 0px;
			height: 0px;
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
			display: inline-block;
		}
		.moveUp {
			top: -11px;
			border-bottom: 9px solid rgb(100, 100, 100);
		}
		.moveDown {
			top: 2px;
			border-top: 9px solid rgb(100, 100, 100);
		}
	}
}

.classDelete {
	grid-column: delete;
	margin-left: 8px;
	color: rgb(100, 100, 100);
}
