.trackerOuter {
	margin: 20px;
}

.trackerOuter .trackerClasses {
	font-size: x-large;
}

.charOuter {
	padding: 2px 0px;
	min-height: 24px;
}

.charInit {
	padding: 0px 5px;
	display: inline-block;
}

.charInit .initiative {
	text-align: right;
	width: 35px;
	display: inline-block;
}

.charIcon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	padding-right: 10px;
	padding-bottom: 3px;
}

.charName {
	padding: 0px 5px;
	text-align: center;
	display: inline-block;
	min-width: 200px;
}

.initInput {
	width: 20px;
}

.roundActionsOuter {
	padding-top: 20px;
}

.roundActionsOuter .roundActionsButton {
	margin-right: 10px;
}

.classAdderOuter {
	padding-top: 20px;
	max-width: 305px;
}

.classAdderHeader {
	display: inline-block;
}
.classAdderHeaderExpand {
	float: right;
}

.classAdderOuter .classAdderInput {
	margin-right: 10px;
}

.menu {
	position: absolute;
	top: 10px;
	right: 10px;
}
