.classTurnComplete {
	grid-column: turn-complete;
	margin-right: 10px;
}

.classInfo {
	grid-column: info;
	display: table;
	font-size: large;

	&.summonInfo {
		font-size: small;
		min-height: 20px;
	}

	.className {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.classIcon {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		padding-right: 6px;
		width: 18px;
		height: 18px;

		img {
			width: 18px;
			height: 18px;
		}
	}
}

.classInit {
	grid-column: initiative;
	margin-left: 10px;
}

.classMoveButtons {
	grid-column: move-buttons;
	margin-left: 4px;

	$moveButtonSize: 9px;
	
	.classMoveButtonContainer {
		position: relative;
		width: 18px;

		.moveUp,
		.moveDown {
			position: absolute;
			width: 0px;
			height: 0px;
			border-left: $moveButtonSize solid transparent;
			border-right: $moveButtonSize solid transparent;
			display: inline-block;
		}
		.moveUp {
			top: -11px;
			border-bottom: $moveButtonSize solid black;
		}
		.moveDown {
			top: 2px;
			border-top: $moveButtonSize solid black;
		}
	}
}

.classDelete {
	grid-column: delete;
	margin-left: 8px;
	vertical-align: middle;
}
