.trackerOuter {
	margin: 20px;
}

.trackerOuter .trackerClasses {
	font-size: larger;
}

.charOuter {
	padding: 2px 0px;
	min-height: 24px;
}

.charInit {
	padding: 0px 5px;
	width: 30px;
	display: inline-block;
	text-align: right;
}

.charIcon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	padding-right: 10px;
	padding-bottom: 3px;
}

.charName {
	padding: 0px 5px;
	text-align: center;
	display: inline-block;
	min-width: 200px;
}

.summonOuter {
	min-height: 20px;
}

.summonOuter .charName {
	font-size: medium;
}

.summonOuter .charIcon {
	width: 15px;
	height: 15px;
}

.optionIcon {
	min-width: 24px;
	display: inline-block;
}

.delete {
	margin-left: 10px;
}

.initInput {
	width: 22px;
	height: 22px;
	text-align: center;
	vertical-align: top;
	font-size: large;
}

.roundActionsOuter {
	padding-top: 20px;
}

.roundActionsOuter .roundActionsButton {
	margin-right: 10px;
}

.classAdderOuter {
	padding-top: 20px;
	max-width: 305px;
}

.classAdderHeader {
	display: inline-block;
}
.classAdderHeaderExpand {
	float: right;
}

.classAdderOuter .classAdderInput {
	margin-right: 10px;
}

.classAdderOuter .classAdderNameField {
	width: 100px;
}

.menu {
	position: absolute;
	padding: 4px 12px;
}
