.charTurnComplete {
	grid-column: turn-complete;
	margin-right: 10px;
}

.charInfo {
	grid-column: info;
}

.charInfoContainer {
	display: table;
	font-size: x-large;
}

.charInfo.summonInfo .charInfoContainer {
	font-size: medium;
}

.charName {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.charIcon {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-right: 6px;
	width: 18px;
	height: 18px;
}

.charIcon img {
	width: 18px;
	height: 18px;
}

.charSeparator {
	grid-column: 1/-1;
	height: 8px;
}

.charInit {
	grid-column: initiative;
	min-width: 22px;
	font-size: x-large;
	margin-left: 20px;
}

.charMoveButtons {
	grid-column: move-buttons;
	margin-left: 4px;
}

.charMoveButtonContainer {
	position: relative;
	width: 18px;
}

.summonOuter .charIcon {
	width: 15px;
	height: 15px;
}

.moveUp,
.moveDown {
	position: absolute;
	width: 0px;
	height: 0px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	display: inline-block;
}
.moveUp {
	top: -11px;
	border-bottom: 9px solid black;
}
.moveDown {
	top: 2px;
	border-top: 9px solid black;
}

.charDelete {
	grid-column: delete;
	margin-left: 16px;
}
