.trackerContainer {
	margin: 10px;
	display: grid;
	grid-template-columns: max-content;
	row-gap: 10px;

	.trackerComponentContainer {
		position: relative;
		padding: 10px;

		border: 1px solid darkgray;

		hr {
			height: 1px;
			border: 0px;
			border-top: 1px solid lightgray;
		}
	}

	.activeFiguresContainer {
		.title {
			font-size: large;
			text-align: center;
		}

		.menu {
			position: absolute;
			top: 4px;
			right: 4px;
			padding: 4px 8px;
		}

		.trackedClassContainer {
			display: grid;
			grid-template-columns: [turn-complete] max-content [info] fit-content(300px) [initiative] max-content [move-buttons] max-content [delete] max-content;
			place-items: center;
		}
		.roundActionsOuter {
			display: grid;
			column-gap: 10px;
			grid-template-columns: auto auto;
			justify-items: center;

			.btn .fa.fa-play {
				color: green;
			}

			.btn .fa.fa-rotate {
				color: steelblue;
			}
		}
	}

	.figureAdderContainer {
		.title {
			font-size: large;
			text-align: center;
		}

		.collapseExpand {
			position: absolute;
			top: 8px;
			right: 4px;
			padding: 4px 8px;
			color: rgb(100, 100, 100);
		}
	}
}
