.trackerContainer {
	display: grid;
	grid-template-columns: minmax(265px, max-content);
	row-gap: 10px;
	margin: 10px;
	transform-origin: 0 0;
	scale: 1.55;

	.trackedClassContainer {
		display: grid;
		grid-template-columns: [turn-complete] max-content [info] 1fr [initiative] max-content [move-buttons] max-content [delete] max-content;
		place-items: center;
	}

	.roundActionsOuter {
		display: flex;
		gap: 10px;
		justify-content: center;

		.fa-play {
			color: green;
		}

		.fa-rotate {
			color: steelblue;
		}
	}

	.noFiguresPlaceholder {
		text-align: center;
		font-size: large;
		font-weight: bold;
		.fa-triangle-exclamation {
			color: rgb(230, 226, 14);
			padding-right: 6px;
			-webkit-text-stroke: 1px black;
		}
	}

	.separator {
		grid-column: 1/-1;
		height: 8px;
	}
}
