.charTurnComplete {
	grid-column: turn-complete;
}

.charInfo {
	grid-column: info;
}

.charInfoContainer {
	display: table;
	font-size: x-large;
}

.charInfo.summonInfo .charInfoContainer {
	font-size: medium;
}

.charName {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.charInfo.summonInfo .charName {
	/* Account for lack of icon */
	padding-left: 24px;
}

.charIcon {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-right: 6px;
}

.charIcon img {
	width: 18px;
	height: 18px;
}

.charSeparator {
	/*
	grid-column: info;
	height: 1px;
	width: 100px;
	margin: 5px auto 3px auto;
	border: none;
	border-top: 1px solid rgb(225, 225, 225);
	*/
	grid-column: 1/-1;
	height: 8px;
}

.charInit {
	grid-column: initiative;
	width: 22px;
	font-size: x-large;
}

.charMoveButtons {
	grid-column: move-buttons;
}

.charMoveButtonContainer {
	position: relative;
	width: 18px;
}

.summonOuter .charIcon {
	width: 15px;
	height: 15px;
}

.moveUp,
.moveDown {
	position: absolute;
	width: 0px;
	height: 0px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	display: inline-block;
}
.moveUp {
	top: -11px;
	border-bottom: 9px solid black;
}
.moveDown {
	top: 2px;
	border-top: 9px solid black;
}

.charDelete {
	grid-column: delete;
	font-size: unset;
}
