.trackerContainer {
	display: grid;
	grid-template-columns: max-content;
	row-gap: 10px;
	margin: 10px;
	min-width: 300px;

	.trackedClassContainer {
		display: grid;
		grid-template-columns: [turn-complete] max-content [info] fit-content(300px) [initiative] max-content [move-buttons] max-content [delete] max-content;
		place-items: center;
	}

	.roundActionsOuter {
		display: grid;
		column-gap: 10px;
		grid-template-columns: auto auto;
		justify-items: center;

		.btn .fa.fa-play {
			color: green;
		}

		.btn .fa.fa-rotate {
			color: steelblue;
		}
	}

	.noFiguresPlaceholder {
		text-align: center;
	}

	.separator {
		grid-column: 1/-1;
		height: 8px;
	}
}
